.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(152, 170, 185);
  padding: 10px 24px;
  border-radius: 4px;
  column-gap: 36px;
}

.list-description {
  font-size: 24px;
  text-transform: capitalize;
  color: aliceblue;
  font-weight: 600;
}

.list-functional-block {
  display: flex;
  column-gap: 6px;
}

.btn {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 8px;
}

.list-button-edit {
  background-color: lightskyblue;
}

.list-button-done {
  background-color: aquamarine;
}

.list-button-delete {
  background-color: crimson;
  color: whitesmoke;
}
